{{!-- 注：使用在 2 处位置 --}}
<a class="s-navigation--item {{ nav-projects-selected }}" href="/{{ language }}/projects">
    {{ lang "nav-projects" }}
</a>
<a class="s-navigation--item {{ nav-users-selected }}" href="/{{ language }}/users">
    {{ lang "nav-users" }}
</a>
<a class="s-navigation--item" href='{{ helper-values "sites" "kids" }}' target="_blank">
    {{ lang "nav-kids" }}
</a>
<a class="s-navigation--item" href='{{ helper-values "sites" "books" }}' target="_blank">
    {{ lang "nav-books" }}
</a>
<a class="s-navigation--item" href='{{ helper-values "sites" "blog" }}' target="_blank">
    {{ lang "nav-blog" }}
</a>

{{#if (str-cmp user.status 10 "gte") }}
    <a class="s-navigation--item {{ nav-admin-selected }}" href="/admin">
        管理后台
    </a>
{{/if}}
